*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.1rem;
}
input{
  height: 4rem;
  padding: 0 1rem;
  outline: none;
  border-radius: 1rem;
  border: 0px;
  background: rgba(255, 255, 255, 0.5);
}
body{
  width: 100vw;
  height: 100vh;
  background: gray;
  overflow-y: hidden;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  width: 100vw;
  height: 5rem; /* 1 = 16px */
  background: rgba(33, 3, 58, 1);
}
div#flights-search{
  width: 100vw;
  height: 20rem;
  padding: 2rem 1rem;
  background: rgba(33, 3, 58, 0.5);
}
div#flights-search div#from-container{

}
div#flights-search div#from-container div#from-results{
  width: 20vw;
  height: 20rem;
  background: white;
}


div#main{
  display: flex;
  width: 100vw;
}
div#main div#left{
  width: 30%;
  height: 10rem;
  background: rgba(33, 3, 58, 0.7);
}
div#main div#right{
  width: 70%;
  height: 10rem;
  background: rgba(33, 3, 58, 0.3);
}
footer{
  width: 100vw;
  background: rgba(19, 0, 38, 1);
  color: rgba(255, 255, 255, 0.6);
  padding: 2rem 1rem;
}