.active{
  color: red;
  padding: 1rem 2rem;
  border: 2px solid black;
  background: blue; 
}
nav{
  display: flex;
  justify-content: space-around;
}




MAMP
disable the cache inside MAMP is in settings
it is adrop down menu
It says "PHP cache" in the drop down

INCOGNITO all the time... that works

